@model ResultadoViewModel

<h2>Resultado</h2>

<p>Lumens Ideais: entre @Model.LumensMin<span>lm</span> e @Model.LumensMax<span>lm</span></p>
<p>Temperatura de Cor: entre @Model.TemperaturaMin<span>K</span> e @Model.TemperaturaMax<span>K</span></p>
<p>Tom da Cor: O tom da cor para o ambiente é "@Model.TomDaCor"</p>

<a asp-controller="Calculator" asp-action="Index" class="btn btn-primary">Nova Consulta</a>